:root {
	--border: #{$border};
	--light-gray: #{$light-gray};
	--primary-bg: #{$primary-bg};
	--primary-two: #{$primary-two};
	--primary-box-shadow: #{$primary-box-shadow};
	--deep-orange: #{$deep-orange};
	--light-orange: #{$light-orange};
	--dark: #{$dark};
	--deep-dark: #{$deep-dark};
}
